{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include '_partials/_header.html.twig'%}
	<main>
		<h1>Nos sweatshirts</h1>
		<div class='products'>
			{% for product in homepageProducts%}
				<div class='products_details'>
					<img src={{asset('images/products/' ~ product.imageName)}}>
					<h2>{{ product.name }}</h2>
					<h3>{{ product.price|number_format(2, ',', '.') }}
						€</h3>
					{% if is_granted('ROLE_USER') %}

						<a href="{{ path('product_by_id', {'id': product.id}) }}">
							<button>Voir</button>
						</a>
                        {% endif %}
					</div>
				{% endfor %}
			</div>
		</main>
		{% include '_partials/_footer.html.twig'%}
	{% endblock %}
