{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
{% include '_partials/_header.html.twig'%}
	<main>
		<div class='products'>
			<div class='products_details'>
				<img src={{asset('images/products/' ~ product.imageName)}}>
				<h2>{{ product.name }}</h2>
				<h3>{{ product.price|number_format(2, ',', '.') }}
					€</h3>
				<a href='{{ path('cart_add', {id : product.id}) }}'><button>Ajouter au panier</button></a>
			</div>
		</div>
	</main>
    {% include '_partials/_footer.html.twig'%}
{% endblock %}
