* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: cornsilk;
    min-height: 100vh;
}

main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header {
    background-color: brown;
    display: flex;
}

footer {
    background-color: brown;
}

.logo {
    width: 200px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products_details {
    width: 28vw;
    padding: 10px;
    margin: 1.5vw;
    border: 1px solid grey;
    border-radius: 10px;
}

.products_details_choice {
    width: 28vw;
    padding: 30px;
    border: none;
}

.product_img {
    width: 200px ;
}

.cart_product {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-bottom: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

.cart_total {
    display: flex;
    justify-content: end;
    padding: 25px;
    margin-bottom: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}